<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::section})}">
<head>
    <title>Embeddings - demo</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Embeddings</h1>
        </div>

        <!-- Embedding Stats Row -->
        <div class="row">
            <div class="col-xl-6 col-md-8 mb-4">
                <div class="card stats-card primary h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    New Embedding Information
                                </div>
                                <form action="embed" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <div class="form-group">
                                        <label for="docid">Document ID</label>
                                        <input type="text" class="form-control" id="docid" name="docid" value="test1">
                                    </div>
                                    <div class="form-group">
                                        <label for="source">Source</label>
                                        <input type="text" class="form-control" id="source" name="source" value="sean-test" required>
                                    </div>
                                    <div class="form-group">
<!--                                        <label for="content">Content</label>-->
<!--                                        <input type="text" class="form-control" id="content" name="content" value="test content" required>-->
                                        <label for="content">Content</label>
                                        <textarea class="form-control" id="content" name="content" rows="10" required>
                                            1. Description of Requirement:

                                            Army Contracting Command - Rock Island (ACC-RI) has a requirement for CA Application Performance Management (CA APM) Java and .NET Agent Maintenance and CA Introscope to CA Application Performance Management Upgrade Java and .NET Agent Maintenance for 7 licenses.

                                            The requirement's associated North American Industry Classification System (NAICS) code is 423430 with a small business size 500 employee.

                                            CA APM Java and .NET Agent Maintenance and CA Introscope to CA Application Performance Management Upgrade Java and .NET Agent Maintenance

                                            - Support for 7 licenses

                                            - Part # APMJNA990-M

                                            - Period of Performance: Five Year Potential (one year base period, with four, one-year option periods).

                                            Provide response to this Sources Sought using the attached pricing sheet (Attachment 0001 - CA APM Pricing Spreadsheet). 2. Sources Sought responses are due to Morgan Dowell, Contract Specialist, morgan.a.dowell.civ@army.mil, phone: 520-693-0218 by 14 March 2025 at 2:00 p.m. Central Time.
                                        </textarea>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-vector-square fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
